# Application Config
ENVIRONMENT=development
PORT=8000

# CORS (Comma separated)
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

# Model Configuration
MODEL_VERSION=v1.0.0

# Dynamic Model Loading
# By default, downloads a public Scikit-Learn Iris classification model.
MODEL_ARTIFACT_PATH=https://huggingface.co/DmytroSerbeniuk/my-iris-model/resolve/main/model.joblib
MODEL_ARTIFACT_TYPE=joblib  # joblib or pickle

# Dynamic Schema Validation
# By default, uses the bundled Iris schema.
INPUT_SCHEMA_PATH=default_schema.json
